@using Microsoft.EntityFrameworkCore
@using UrfuPassSystem.Domain.Entities
@using UrfuPassSystem.Domain.Services

@page "/list"
@attribute [StreamRendering]
@inject ApplicationDbContext Database

<PageTitle>Изображения</PageTitle>

<h1>Изображения</h1>

@if (images == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Время отправки</th>
                <th>Номер студенческого</th>
                <th>Название файла</th>
                <th>Превью</th>
                <th>Статус проверки</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var image in images)
            {
                <tr>
                    <td>@image.SentTime.ToString()</td>
                    <td>@image.StudentCardId</td>
                    <td>@image.OriginalFileName</td>
                    <td><img height="50" src="@image.FilePath" /></td>
                    <td>@image.Checks?.SingleOrDefault()?.IsSuccess</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Image[]? images;

    protected override async Task OnInitializedAsync()
    {
        images = await Database.Images
            .Include(i => i.Checks!.Where(c => !c.IsDeleted).OrderByDescending(c => c.CheckTime).Take(1))
            .ToArrayAsync();
    }
}
